/* .todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.todoItemBox {
  display: flex;
  padding: 2px;
  align-items: center;
  
}
.todoItemText {
  padding: 2px;
  font-size: 25px;
  margin-right: 5px;
  color: var(--input-bg-color);
}

.completed {
  text-decoration: line-through;
  color: grey;
  opacity: 0.7;
}

.emptyMessage {
  color: rgba(186, 95, 19, 0.5);
  font-style: italic;
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 400px) {
  .todoItemText {
  font-size: 20px;
}
.todoList{
  font-size: 20px;
}
} */