@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --input-bg-color: rgb(32, 34, 99);
  --background-color: rgb(224, 225, 241);
  --input-bg-color-hover: rgb(38, 42, 157);
  --dark-background-color: rgb(20, 20, 22);
  --dark-text-color: rgb(198, 198, 198);
}

