.mainContainer {
  height: 100vh;
}
.mainLayoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoImg {
  width: 60px;
  height: 60px;
  background-color: var(--background-color);
}
.mainLayoutNav {
  padding: 10px;
  font-size: 20px;
}
.mainLayoutNavLink {
  text-decoration: none;
  color: var(--input-bg-color);
  padding: 15px;
}
.mainLayoutNavLinkIsActive {
  text-decoration: underline;
}
.mainLayoutFooter{
    position: sticky;
}

@media screen and (max-width: 400px) {
    .mainContainer {
  height: 100%;
  padding: 20px;
}
  .mainLayoutHeader {
    justify-content: space-between;
    align-items: center;
  }
  .logoImg {
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
  }
  .mainLayoutNav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
  }
}
