.inputForm {
  color: var(--input-bg-color);
  font-size: 25px;
}
.inputText {
  padding: 5px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  width: 50%;
  color: var(--input-bg-color);
  font-size: 18px;
  border: 2px solid var(--input-bg-color);
  border-radius: 4px;
  background-color: var(--background-color);
}
.inputSubmit {
  width: 150px;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: var(--input-bg-color);
  border: none;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 400px) {

  .inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
  }
  .inputText {
    width: 200px;

  }
  .inputSubmit {
    width: 80px;
  }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
  .inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .inputFormLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputText {
    width: 250px;
    font-size: 12px;
  }
  .inputSubmit {
    width: 80px;
    height: 30px;
  }
}
